@{
    ViewData["Title"] = "Cadastro Realizado com Sucesso";
}

<div class="text-center">
    <h1 class="display-4">Obrigado!</h1>
    <p class="lead">Seu cadastro foi realizado com sucesso.</p>
    <hr />
    <p>Fique de olho no seu e-mail para futuras novidades.</p>
    <div>
        <a asp-controller="Property" asp-action="Index" class="btn btn-primary">Ver Imóveis Disponíveis</a>
    </div>
</div>